---
import '../styles/postnavbox.css';
import { getPrevPost, getNextPost } from "../scripts/getPostTree";
const { post } = Astro.props;
const prev = await getPrevPost(post);
const next = await getNextPost(post);
---
<div class="posts-next-nav">
  {
    prev && (
       <a class="posts-prev-nav" href={prev?.url}>
        <svg class="posts-next-nav" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M624-96 240-480l384-384 68 68-316 316 316 316-68 68Z"/></svg>
        <div class="posts-next-nav-box">
          <span class="post-prev-nav"> Previous </span>
          <span class="post-prev-nav-title"> {prev?.title} </span>
        </div>
      </a>
    )
  }

  {
    next && (
      <a class="posts-next-nav" href={next?.url}>
        <div class="posts-next-nav-box">
          <span class="post-next-nav"> Next </span>
          <span class="post-next-nav-title"> {next?.title} </span>
        </div>
        <svg class="posts-next-nav" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path d="m288-96-68-68 316-316-316-316 68-68 384 384L288-96Z"/></svg>
      </a>
    )
  }
</div>
